@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;600;700&display=swap');

*{
    margin: 0rem;
    box-sizing: border-box;
  
}
.img-container{
    
    margin: 0;
    height: 445px;
    width: 100%;
    background-color: black;

}
.image1{
    height: 445px;
    width: 100%;
    opacity: .7;
    object-fit: cover;
    
}

.aboutUS{
    pointer-events: none;
    width: fit-content;
    position: absolute;
    font-size: 40px;
    top: 300px;
    right: 40%;
    left: 40%;
    font-weight: bolder;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.nav{
    height: fit-content;
    background-color: rgb(251, 251, 251);
    display: flex;

}
.nav li{
    font-size: 25px;
    display: inline-block;
    margin: 1rem;
    text-transform: uppercase;
    color: #01416F;
    position: relative;
    margin-left: 10px;
}
.nav li::before{
    content: "";
    position: absolute;
    bottom:0;
    left: 0;
    height:3px;
    background-color: #01416F;
    width: 0%;
    transition: 0.5s all;
}

.nav li:hover:before{
    width: 100%
}
.nav li:hover{
   
    cursor: pointer;
    text-underline-position: auto;
}

.Principle{
    max-width: 1000px;
    border: 1px solid black;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #01416F;
    border-radius: 5px;
}
.textContainer{
    text-align: center;
    color: white;
    margin: auto 0;
}
.textContainer .header{
    font-family: Bebas Neue;
    padding-bottom: 4rem;
    padding-left: 2rem;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}
.textContainer .body{
    font-family: Bebas Neue;
    
    padding-left: 2rem;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.textContainer .Principle_name{
    font-family: Bebas Neue;
    padding-top: 4rem;
    padding-left: 2rem;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase; 
}

.principleImage{
    width: 400px;
    height: 400px;
    float: right;
}

.Bref_Description{
    max-width: 85%;
    margin: 2rem auto;
}

.Bref_Description p{
    font-family: "Roboto";
    font-size: 25px;
    padding: 1rem;
}
.mission{
    max-width: 1250px;
    height: fit-content;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
}

.M_image_container img{
    border-radius: 10px;
    border: 1px solid black;
    width: 550px;
  
}
.M_text_container{
    background-color: #01416F;
    color: white;
    border-radius: 10px;
    width: 550px;
    
}
.M_text_container .M_Header{
    font-size: 45px;
    text-align: center;
    margin: 1rem 0;
    font-family: Bebas Neue;
    font-weight: 800;
    text-transform: uppercase;
}

.M_mission{
    font-size: 25px;
    padding: 1rem;
    font-family: Roboto;
    text-align: center;
}

.Vision{
    max-width: 1250px;
    height: fit-content;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
}

.V_text_container{
    background-color: #01416F;
    color: white;
    border-radius: 10px;
    width: 550px;
}

.V_text_container .V_Header{
    font-size: 45px;
    text-align: center;
    margin: 1rem 0;
    font-family: Bebas Neue;
    font-weight: 800;
    text-transform: uppercase;
}
.V_text_container .V_Mission{
    font-size: 25px;
    padding: 1rem;
    font-family: Roboto;
    text-align: center;
}

.V_image_container img{
    border-radius: 10px;
    border: 1px solid black;
    width: 550px;
   
}




@media only screen and (max-width: 480px) {

    .img-container{
        height: 185px;
        width: 100%;
    }

    .image1{
        height: 185px;
    }

    .aboutUS{   
        top: 125px;
        font-size: 20px;
        left: 36%;
    }
    .nav{
        margin-left: -1.5rem;
    }

    .nav li{
        font-size: 13px;
        margin-left: 0px;
        padding-left: 0px;
    }

    .Principle{
        width: 315px;
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }   
    
    .textContainer{
        width: 315px;
    }

    .textContainer .header{
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 25px;
        padding-right: 2rem;
    }
    .textContainer .body{        
  
        padding-right: 2rem;
        font-size: 20px;
    }
    
    .textContainer .Principle_name{
        font-family: Bebas Neue;
        padding-top: 1rem;
        padding-right: 2rem;
        font-size: 20px;

    }
    .principleImage{
        height: 250px;
        width: 315px;
    }

    .Bref_Description{
    
        max-width: 98%;
    
    }
    
    .Bref_Description p{
        font-size: 14px;
      
    }

    .mission{
        max-width: 315px;
        margin: 1rem auto;
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }

    .M_image_container img{
        border-radius: 5px;
        width: 314px;
      
    }
    .M_text_container{
        border-radius: 5px;
        width: 314px;
        
    }
    .M_text_container .M_Header{
        font-size: 25px;

    }
    
    .M_mission{
        font-size: 17px;
        padding: 1rem;
        text-align: center;
    }


    .Vision{
        max-width: 315px; 
        margin: 1rem auto;
        grid-template-columns: 1fr;
        column-gap: 0rem;
        row-gap: 2rem;
    }
    
    .V_text_container{

        transform: translate(0px, 225px);
        border-radius: 5px;
        width: 315px;
    }
    
    .V_text_container .V_Header{
        font-size: 25px;
        

    }
    .V_text_container .V_Mission{
        font-size: 17px;
      
    }
    
    .V_image_container img{
        border-radius: 5px;
        width: 314px;
        transform: translate(0px, -225px);
    }




}
