* {
    margin: 0;
}

.img-container {

    margin: 0;
    height: 445px;
    width: 100%;
    background-color: black;
}

.alumni_img {
    height: 445px;
    width: 100%;
    opacity: .7;
    object-fit: cover;

}

.alumni {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    position: relative;
    font-size: clamp(22px,4vw,40px);
    bottom:250px;
    font-weight: bolder;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    word-spacing: 1rem;
}

.AimsObj {
    margin: 2rem 0 0rem 2.5rem;
    color: #113E96;
    text-transform: uppercase;
    font-size: clamp(24px,3vw,35px);
    font-weight: bold;
    letter-spacing: 1.5px;
    font-family: "Bebas Neue";
    position: relative;
    width: 51%;

}

.AimsObj::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #113E96;;
}

.points{
    background: #003366;
    width: 90%;
    margin:2rem 0 2rem 3%;
    border-radius: 5px;
    padding: 2%;
}

.points ul li,.points p{
    color: white;
    font-size: clamp(16px,2.2vw,20px);
    font-family: "Roboto";
    font-weight: lighter;
    line-height: 2.5rem;
}

@media only screen and (max-width: 600px){
    .img-container{
        height: 185px;
        width: 100%;
    }

    .alumni_img{
        height: 185px;
    }

    .alumni{   
        font-size: 22px;
        bottom: 92.5px;
    }

    .AimsObj{
        letter-spacing: 1px;
    }
    .points ul li,.points p{
        line-height: 2rem;
    }


}