* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home-content {
    overflow: hidden;

}

.slider-container {
    display: flex;
    width: 400%;
    position: relative;
}

.auto-slidenav {
    position: absolute;
    top: clamp(270px, 29vw, 400px);
    left: 0;
    width: 100vw;
    display: flex;
    z-index: 1;
    justify-content: center;
}

.auto-slidenav * {
    padding: 7px;
    border: 2px solid #D9A110;
    border-radius: 20px;
    transition: .3s;

}

.auto-slidenav>*:not(:last-child) {
    margin-right: 30px;
}

.slider-nav {
    position: absolute;
    display: flex;
    width: 100vw;
    justify-content: center;
    top: clamp(270px, 29vw, 400px);
    left: 0;
    background: transparent;
    z-index: 2;
    border-radius: 10%;
}

.slider-container input {
    display: none;
}

.slider-btn {
    padding: 7px;
    border: 2px solid #D9A110;
    border-radius: 20px;
    transition: .3s;
}

.slider-btn:hover {
    background-color: #D9A110;
}

.slider-btn:not(:last-child) {
    margin-right: 30px;
}

.slider {
    background-color: black;
    position: relative;
    overflow: hidden;
    width: 25%;
    height: clamp(350px, 40vw, 535px);
    transition: 1s all ease-out;
}

.slider img {
    width: 100%;
    height: 100%;
}

.slider-content {
    color: white;
    position: absolute;
    top: 17%;
    left: 10%;
    /* left: 150px; */

    font-family: "Roboto";
}

.slider-content h1 {
    padding-bottom: 1rem;
    font-weight: bold;
    font-size: clamp(24px, 4vw, 40px);
}

.slider p {
    padding-bottom: 1rem;
    width: 75%;
    font-weight: 450;
    font-size: clamp(20px, 3vw, 34px);

}



.slider button {
    margin-top: 1rem;
    padding: .8rem 1.5rem;
    font-size: clamp(16px, 3vw, 24px);
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #D9A110;
    transition: 0.2s all ease-out;
}

.slider button:hover {
    background-color: #00aeff;
}

.home-center {
    position: relative;
    left: 50px;
}

#home-slide1:checked~.first-slide {
    margin-left: 0;
}

#home-slide1:checked~.auto-slidenav .auto-slide1 {
    background-color: #D9A110;
}

#home-slide2:checked~.auto-slidenav .auto-slide2 {
    background-color: #D9A110;
}

#home-slide3:checked~.auto-slidenav .auto-slide3 {
    background-color: #D9A110;
}

#home-slide4:checked~.auto-slidenav .auto-slide4 {
    background-color: #D9A110;
}

#home-slide2:checked~.first-slide {
    margin-left: -25%;

}

#home-slide3:checked~.first-slide {
    margin-left: -50%;
}

#home-slide4:checked~.first-slide {
    margin-left: -75%;
}



.mi-vi {
    display: flex;
    justify-content: center;
    position: relative;
    top: -8vw;
}

.mivi-container {
    width: 70vw;
    background-color: #003366;
    font-family: "Roboto";
    color: white;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}

.home-mission,
.home-vision {
    width: 70vw;
    transition: 1s all ease-out;
}

.mivi-slider {
    display: flex;
    width: 140vw;
}

.mivi-container h1 {
    font-size: clamp(24px, 4vw, 48px);
    margin: 2rem;
}

.mivi-container p {
    font-size: clamp(20px, 3vw, 28px);
    line-height: 1.5;
    padding: 0rem 3rem 5rem 3rem;
}

#mission:checked~.home-mission {
    margin-left: 0;
}

#vision:checked~.home-mission {
    margin-left: -70vw;
}

.mivi-container input {
    display: none;
}




.an-ca-container {
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
}

.announcement-container,
.calender-container {
    width: 45%;
    color: #01416F;
    font-family: "Roboto";
}


.an-ca-container h1 {
    font-family: "Bebas Neue";
    font-size: clamp(24px, 4vw, 45px);


    font-weight: 100;
}

.division {
    height: 2px;
    background-color: #01416F;
}

.announcement-container h3 {
    padding: 1rem 0;
    font-size: clamp(18px, 2.5vw, 22px)
}

.announcement-container p {
    padding: 1rem 2rem;
    text-align: right;
}

.an-ca-container .announcement,
.calender {
    min-height: 160px;
}

.calender {
    display: flex;
    padding: 2rem 0;
}

.calender h3 {
    padding-top: 1.2rem;
    font-size: clamp(18px, 2.5vw, 22px);
    width: 30vw;
    padding-left: 1rem;
}

.calender .calender-date {
    background-color: #FFC327;
    color: white;
    text-align: center;
    border-radius: 7px;
    padding-top: 1rem;
    font-family: "Bebas Neue";
    font-size: 20px;
    height: min(90px, 12vw);
    width: min(90px, 12vw);
}

.calender-date p:first-child {
    margin-bottom: .2rem;
}

.View-link {
    text-align: right;
    align-items: center;
    padding: 1rem;
}

.View-link * {
    font-size: 16px;
    color: #01416F;
    text-decoration: none;
    transition: 0.3s all ease-out;
}

.View-link i {
    font-size: 30px;
    position: relative;
    top: 5px;
    padding: 0 .5rem;
    color: #01416F;
    border-radius: 100%;
    width: fit-content;
    height: auto;
}

.View-link a:hover {
    color: #00a5b1;
}

.View-link a:hover i {
    color: #00a5b1;
}

/*  Staff slider*/
.card {
    width: 250px;
    position: relative;
    height: 299px;
    background-color: white;
    box-shadow: rgb(95, 95, 95)5px 3px 10px;
    transition: 0.3s all ease-out;
}

.card:hover {
    box-shadow: rgb(95, 95, 95)9px 7px 10px;

}

.head {
    background-color: #D9A110;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
}

.image-container {
    display: flex;
    z-index: 1;
    justify-content: center;
    position: relative;
    top: 20px;
}

.image img {
    height: 100%;
    width: 100%;
}

.image {
    height: 125px;
    width: 115px;
    border-radius: 100%;
    overflow: hidden;

}

.b {
    font-weight: bold;
}

.card-contain {
    width: 25vw;
    display: flex;
    justify-content: center;
    transition: 1s all ease-out;
    /* border: 1px solid black; */
}

.staff-slider {
    display: flex;
    margin-top: 3rem;
    padding: 3rem 0;
    flex-direction: row;
    width: 275vw;
}



.details {
    font-family: "Roboto";
    padding-top: 2rem;
    text-align: center;
    position: relative;
    top: 20px;
}

.post {
    background-color: #D9A110;
    width: fit-content;
    color: white;
    font-family: "Roboto";
    padding: .4rem 1rem;
    position: absolute;
    bottom: 0;
    right: 0;
}

.staff-slider-container {
    margin-top: 8rem;
    background-color: #003366;
    height: 635px;
    /* border: 3px solid firebrick; */
    overflow: hidden;
}

.staff-slider-container h1 {
    color: white;
    font-family: "Bebas Neue";
    font-weight: 100;
    text-align: center;
    padding-top: 1.5rem;
    font-size: clamp(24px, 4vw, 50px);
}

.staff-division {
    display: flex;
    justify-content: center;
}

.division-line {
    height: 2px;
    background-color: white;
    width: 60%;
}

.staff-link {
    text-align: right;
    margin-right: 5%;
}

.staff-link a {
    color: white;
    font-size: 24px;
    font-family: "Roboto";
    text-decoration: none;
    transition: 0.3s all ease-out;
}

.staff-link i {
    margin-left: .5rem;
    font-size: 26px;
}

.staff-link a:hover {
    color: #00aeff;
}

#slidebutton0:checked~#firstcard {
    margin-left: 0;
}

#slidebutton1:checked~#firstcard {
    margin-left: -25vw;
}

#slidebutton2:checked~#firstcard {
    margin-left: -50vw;
}

#slidebutton3:checked~#firstcard {
    margin-left: -75vw;
}

#slidebutton4:checked~#firstcard {
    margin-left: -100vw;
}

#slidebutton5:checked~#firstcard {
    margin-left: -125vw;
}

#slidebutton6:checked~#firstcard {
    margin-left: -150vw;
}

#slidebutton7:checked~#firstcard {
    margin-left: -175vw;
}

#slidesbutton8:checked~.firstcard {
    margin-left: -200vw;
}



/* Events */
.event-grid {
    display: grid;
    grid-template-columns: .7fr .7fr 1fr 1fr;
    grid-gap: 10px;
}

.first-event {
    grid-column: 1/ 3;
    grid-row: 1/ 3;
    height: 878px;

}

.second-event {
    grid-column: 3/ 5;
}

.Event {
    background-color: black;
    overflow: hidden;
    color: white;
    font-family: "Roboto";
    position: relative;
}

.Event h3 {
    transition: 0.3s all ease-out;
    font-size: clamp(18px, 2.5vw, 20px);
    margin-bottom: 1rem;
}

.Event img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s all ease-out;
}

.title {
    position: absolute;
    bottom: 50px;
    left: 20px;
}

.event-link p {
    color: white;
    margin-left: 2rem;
    font-family: "Roboto";
    text-decoration: none;
    transition: 0.3s all ease-out;
}

.event-link {
    transition: 0.3s all ease-out;

}

.event-link span i {
    margin-right: .5rem;
    font-size: 24px;
    position: relative;
    top: 3px;
}


.Event:hover img {
    transform: scale(1.05);
    opacity: .5;
}

.Event:hover .event-link {
    margin-left: 2rem;
}

.Event:hover .event-link p {
    color: #e4e4e4;
}

.Events-container {
    margin: 5vw 6vw;
}

.Events-container h1 {
    padding-bottom: .6rem;
    font-family: "Bebas Neue";
    color: #003366;
    font-size: clamp(24px, 4vw, 44px);
    font-weight: 200;
}

.event-division {
    text-align: left;
}

.event-division .division-line {

    display: flex;
    width: 60%;
    height: 2px;
    background-color: #003366;
    margin-bottom: 2rem;
}

.Events-container .View-link a {
    font-family: "Roboto";
    font-size: 20px;
}

.Events-container .View-link a i {
    top: 3px;
}




.map-container {
    background-color: #003366;
    display: flex;
    margin: 12vw 3rem 5rem min(3vw, 3rem);
    justify-content: space-between;
}

.map-container .contact-info {
    font-family: "Roboto";
    text-align: center;
    width: 100%;
    position: relative;
    color: white;
}

.contact-info h1 {
    padding: min(5vw, 3rem);
}

.map-container .contact-info p {
    width: fit-content;

    font-size: clamp(16px, 2.3vw, 28px);
    position: relative;
}

.map-container .contact-info .motto-container {
    width: 100%;
    position: absolute;
    overflow: hidden;
    margin: 0 1vw;
}


.motto {
    width: 250%;
    position: relative;
    padding: 0 2rem;
}

@keyframes slidemotto {
    0% {
        right: 0%
    }

    33% {
        right: 45%
    }

    66% {
        right: 90%
    }

    100% {
        right: 135%
    }

}

.motto {
    animation: slidemotto linear 10s infinite;
}

.motto-container p {
    transition: 1s all;
}

.contact-info a {
    position: absolute;
    left: 3vw;
    bottom: 7vw;

}

.contact-info a button:hover {
    background-color: #FFC327;
    cursor: pointer;
}

.contact-info button {
    padding: 2vw min(3vw, 2.5rem);
    color: white;
    background-color: #D9A110;
    font-family: "Roboto";
    border: none;
    font-size: clamp(16px, 2.2vw, 20px);
    font-weight: 550;
    border-radius: 5px;
    transition: 0.3s all ease-out;
}

.map iframe {
    margin: 0 5vw;
    position: relative;
    top: -7rem;
    box-shadow: 10px 10px 10px rgb(43, 43, 43);
    border-radius: 5px;
    /* width: 500px; */
    width: 40vw;
    height: 35vw;
    transition: .3s all ease-out;
}

.map iframe:hover {
    box-shadow: 15px 15px 10px rgb(43, 43, 43);

}


@media only screen and (max-width: 810px) {
    .slider button {
        padding: .8rem 1.2rem;
    }

    .an-ca-container {
        padding: 0 5%;
    }

    .staff-slider {
        width: 550vw;
    }

    .card-contain {
        width: 50vw;
    }

    #slidebutton0:checked~#firstcard {
        margin-left: 0;
    }

    #slidebutton1:checked~#firstcard {
        margin-left: -50vw;
    }

    #slidebutton2:checked~#firstcard {
        margin-left: -100vw;
    }

    #slidebutton3:checked~#firstcard {
        margin-left: -150vw;
    }

    #slidebutton4:checked~#firstcard {
        margin-left: -200vw;
    }

    #slidebutton5:checked~#firstcard {
        margin-left: -250vw;
    }

    #slidebutton6:checked~#firstcard {
        margin-left: -300vw;
    }

    #slidebutton7:checked~#firstcard {
        margin-left: -350vw;
    }

    #slidebutton8:checked~#firstcard {
        margin-left: -400vw;
    }

    #slidebutton9:checked~#firstcard {
        margin-left: -450vw;
    }


    .Event {
        height: 400px;
    }

    .event-grid {
        grid-template-columns: 1fr 1fr;
    }

    .first-event {
        grid-column: auto;
        grid-row: auto;
    }

    .second-event {
        grid-column: auto;
        grid-row: auto;
    }

    .third-event {
        height: 500px;
    }

    .map-container {
        display: block;
    }

    .map {
        background-color: white;
        text-align: center;
        padding: 3rem;
        height: 50vw;
    }

    .map iframe {
        width: 80%;
        height: 120%;
        margin: 0;
        position: static;
    }

    .contact-info {
        height: 50vw;
    }

    .motto-container {
        margin: 0;
    }

    .button-container {
        position: relative;
        top: 15vw;
    }

    .contact-info a {
        position: static;
    }

}

@media only screen and (max-width: 600px) {
    .slider {
        height: 350px;
    }

    .slider-content {
        text-align: center;
        top: 10vh;
        left: 0;
    }

    .slider-content p {
        /* padding: 0; */
        padding: 0 .5rem .5rem 1rem;
        width: 100%;

    }

    .home-center {
        position: relative;
        /* display: flex;
        justify-content: center; */
        left: -0px;
    }

    .slider-nav,
    .auto-slidenav {
        top: 300px;
    }

    .mi-vi {
        top: 0;
    }

    .mivi-container {
        width: 100vw;
        border-radius: 0;
    }

    .home-mission,
    .home-vision {
        width: 100vw;
    }

    .mivi-slider {
        width: 200vw;
    }


    #vision:checked~.home-mission {
        margin-left: -100vw;
    }

    .an-ca-container {
        display: block;
    }

    .announcement-container,
    .calender-container {
        width: 100%;
        margin-top: 3rem;
    }

    .announcement-container h1,
    .calender-container h1 {
        font-size: 30px;
        margin-bottom: 1rem;
        text-align: center;
    }

    .calender {
        padding-left: 5vw;
        /* border: 1px solid black; */
        height: 100px;
    }

    .calender h3 {
        width: 70%;
    }

    .calender .calender-date {
        height: 100px;
        width: 100px;
        margin-right: 2rem;
    }

    .staff-slider-container {
        height: 570px
    }

    .staff-slider {
        width: 1100vw;

    }

    .card-contain {
        width: 100vw;
    }

    #slidebutton0:checked~#firstcard {
        margin-left: 0;
    }

    #slidebutton1:checked~#firstcard {
        margin-left: -100vw;
    }

    #slidebutton2:checked~#firstcard {
        margin-left: -200vw;
    }

    #slidebutton3:checked~#firstcard {
        margin-left: -300vw;
    }

    #slidebutton4:checked~#firstcard {
        margin-left: -400vw;
    }

    #slidebutton5:checked~#firstcard {
        margin-left: -500vw;
    }

    #slidebutton6:checked~#firstcard {
        margin-left: -600vw;
    }

    #slidebutton7:checked~#firstcard {
        margin-left: -700vw;
    }

    #slidebutton8:checked~#firstcard {
        margin-left: -800vw;
    }

    #slidebutton9:checked~#firstcard {
        margin-left: -900vw;
    }

    #slidebutton10:checked~#firstcard {
        margin-left: -1000vw;
    }

    .event-grid {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .Event {
        width: 70vw;
        justify-self: center;
        height: min(90vw, 450px);

    }

    .map iframe {
        width: 100%;
        height: 130%;
    }
}